[2022-09-30 06:43] ashuvssut opened #21 "Start the Youtube Video in home page only when it appears inside viewport"
In home page, the YT video starts up when the page loads. this is not desired

use [JS intersection observers](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) to detect when the youtube video appears inside the viewport. when the youtube video appears inside viewport, trigger/start playing the video

Use can use this package https://www.npmjs.com/package/react-intersect

[2022-09-30 07:52] utsav82 commented on #21
I am interested on working in this ,can I be assigned to it? @ashuvssut

[2022-09-30 10:41] ashuvssut commented on #21
Make sure you go through the [Contributing Guidelines](https://github.com/WalkingPal/walking-pal-web/blob/dev/.docs/CONTRIBUTING.md)

[2022-09-30 14:19] Im-Kunal-13 opened #22 "feat: company page hero section"
![image](https://user-images.githubusercontent.com/89394181/193289494-8af863e7-3ec7-497d-885d-2920351aecfd.png)

[2022-09-30 14:22] ashuvssut commented on #22
make sure you follow [Contributing Guidelines](https://github.com/WalkingPal/walking-pal-web/blob/dev/.docs/CONTRIBUTING.md)

To be clear You just need to create the Heading + the image Carousel
![image](https://user-images.githubusercontent.com/60546840/193290538-77346173-d301-4a6a-826e-d75ae0bcb2ff.png)

[2022-09-30 14:33] ashuvssut commented on #22
@Im-Kunal-13 use [Swiperjs](https://swiperjs.com/react) for the carousel. set autoPlay prop. There is a `loop` config too, it makes the swiper carousel slides look like they are never ending.

[2022-09-30 14:42] Im-Kunal-13 commented on #22
On it

[2022-09-30 21:45] Dun-sin opened #23 "Add Contributing file"
Adding the contributing file is useful for new contributors, so they know what to do in this project

Here's a reference link: [Contributing.md](https://mozillascience.github.io/working-open-workshop/contributing/)

[2022-09-30 21:46] Dun-sin opened #24 "chore: add templates for easy maintaining"
I saw this project is open to contributions, and it doesn't have Pull request and issue templates, it makes it easier for you to maintain your projects.

Here are links for reference:
[Pull Request Template](https://learn.microsoft.com/en-us/azure/devops/repos/git/pull-request-templates?view=azure-devops)
[Pull Request and Issue Template](https://bakingclouds.com/multiple-template-choices/)

I can

[2022-09-30 21:50] Dun-sin commented on #23
my bad, found it

[2022-09-30 21:50] #23 closed

[2022-10-01 04:59] ashuvssut commented on #24
ya sure go ahead.

We have already mentioned all those points for [Issue](https://github.com/WalkingPal/walking-pal-web/blob/dev/.docs/CONTRIBUTING.md#make-sure-to-follow-these-when-opening-issues) and [PR template](https://github.com/WalkingPal/walking-pal-web/blob/dev/.docs/CONTRIBUTING.md#pull-requests-review-criteria) in Contributing.md

So, You dont need to add those checkboxes that are in yo

[2022-10-01 06:18] AbhishekTiwari23 opened #25 "feat: social icon hover effect"
Hello, everything is fantastic on the web, But it can be much better if we add some CSS effects. One is the hover effect on the social icons at the page's footer.
If you find it valuable then, please assign it to me. So that I can achieve my first PR for hacktoberfest.

[2022-10-01 06:20] AbhishekTiwari23 commented on #21
I am also interested. If it is pending, then I would like to work on it

[2022-10-01 07:41] ashuvssut commented on #25
use socail icons from https://react.useanimations.com/

[2022-10-01 08:48] AbhishekTiwari23 commented on #25
Thanks, I will respond as early as I can.

[2022-10-01 13:07] #21 closed

[2022-10-01 15:37] #22 closed

[2022-10-01 16:03] Im-Kunal-13 opened #29 "feat(blog): hero section"
![image](https://user-images.githubusercontent.com/89394181/193418000-5ddc5fb9-eb35-4e01-b518-1d433edf7de3.png)

[2022-10-01 17:41] lovelacecoding opened #30 "fix: accessibility issues"
The website has some accessibility issues like low color contrast and missing alt text for images. These should be fixed so that the website does better on Google, and to help people with eye-sight issues (accessibility).

See the issues yourself, you can look at [WAVE analysis of WalkingPal](https://wave.webaim.org/report#/https://walkingpal.in/)

-------------
In **Home page** would like to fix

[2022-10-01 17:47] ashuvssut commented on #30
please make separate PRs for different pages

[2022-10-01 17:48] lovelacecoding commented on #30
Sure thing!

[2022-10-01 18:09] ashuvssut commented on #25
@AbhishekTiwari23 can you add the discord invite link too? The invite link is in Readme.md

[2022-10-01 18:20] ashuvssut opened #31 "create the WalkingPal logo in SVG"
Currently we have the The walkingpal logo in [PNG](https://github.com/WalkingPal/walking-pal-web/blob/dev/assets/svg/logo.svg)
UI/UX design contributors are welcome to work on this. We need the exact same logo in SVG.

If you could submit the logo's original Project file (.ai or .fig or whatever) along with the svg, it would be super!

[2022-10-01 18:29] heisdinesh commented on #31
can i work on this  issue @ashuvssut

[2022-10-01 19:01] AbhishekTiwari23 commented on #25
ok, I will work on that

[2022-10-01 19:26] #31 closed

[2022-10-01 19:31] astro3012 opened #33 "bug: Navbar and footer not being rendered on landing page on going back one page"
Clicking on Register and then hitting back on browser results in navbar and footer not being rendered on landing page.

[2022-10-01 19:37] ashuvssut commented on #33
@eemike07 see contributing guidelines (dev enviornment setup)

[2022-10-01 19:48] astro3012 commented on #30
@ashuvssut The questions and answers in the FAQ could also use a bit of change in contrast/weights to establish a better visual hierarchy and make it easier to differentiate. As this similar issue was already up, adding this suggestion as a comment.

[2022-10-01 20:12] ashuvssut commented on #30
@astro3012 right!

When I was creating those sections we followed this [figma design board](https://www.figma.com/file/seUqjLLCz2X22Ymm6PZBe6/Website-%26-Other-Components?node-id=901%3A2897) created by the team

I really do not understand what contrast changes are... I guess they might be simple color changes only
make sure we do not deviate from the original color theme too much. tbh I suck at de

[2022-10-01 20:24] lovelacecoding commented on #30
That you already have a color palette makes it way easier @ashuvssut. Let me change it more to that. I'll come back with screenshots shortly

[2022-10-01 20:30] ashuvssut commented on #30
Oh no, don't refer the color palette section given in the figma design. @lovelacecoding The color palette we follow is in theme.ts. We created that color palette by refering the designs in figma. we have `.docs/style-guide.md` that  describes the palette. Refer theme.ts.

[2022-10-01 20:38] Lofty-Brambles opened #34 "Imperceptible buttons."
In the registrations page, the buttons available to be clicked on, as Previous and Next are really imperceptible and have no visual indicators as to when they are active and when they are not, as well as if they are even buttons. The tab navigation is messed up as well, the buttons dont get focused, but the cards do. I'd like to improve this.
![image](https://user-images.githubusercontent.com/1002

[2022-10-01 20:40] ashuvssut opened #35 "Discussion: Opportunity to create issues to Add UI features"
This is the link to the [figma design board](https://www.figma.com/file/seUqjLLCz2X22Ymm6PZBe6/Website-%26-Other-Components?node-id=901%3A2897)

There are a lot of components that needs to be created. See the figma designs to figure out which components are needed to be done. You can **create issues to complete _one section/component_ at a time**. You can start from any page you want. You can work

[2022-10-01 20:49] ashuvssut commented on #34
Hi! @Lofty-Brambles

The 4 little indicators you are talking about, actually those are not buttons. those are simple indicators only. I think they animate  just fine. also, they are not meant to navigate through the form. they are just there to show the progress.

If I am missing something else you wanna tell, please correct me, else you may close this issue

[2022-10-01 20:51] ashuvssut commented on #34
I am a little concerned about the 2nd screenshot.  whats that large space on the right of the `NEXT` button? I think thats some UI glitch, how can we reproduce that ?

[2022-10-01 20:54] lovelacecoding commented on #30
Alright. Then I'll use that instead. I'll come back to you :)

[2022-10-01 21:07] #24 closed

[2022-10-01 21:12] ashuvssut opened #36 "[BUG] <description>"
### Description

fdsgfgsf

### Screenshots

_No response_

[2022-10-01 21:12] #36 closed

[2022-10-01 21:13] ashuvssut opened #37 "[DOCS] <description>"
### Description

cbhjlk;][\

### Screenshots

_No response_

[2022-10-01 21:14] astro3012 commented on #34
@ashuvssut I think the register screen could use a redesign. You don't need a multi step gamification UX here, as you are only taking in 4 pieces of related information.

The register page can follow same design language as other pages (Similar to FAQ, About), and instead of 4 steps, have a single vertical form takes in all the values. This way the user does not have to do additional clicks of goi

[2022-10-01 21:27] ashuvssut commented on #34
oh, actually we do not plan to redesign the register screen.

you can work on that bug. its related to accessiblilty maybe. I am clueless about that

[2022-10-01 21:28] #34 closed

[2022-10-01 21:41] lovelacecoding commented on #30
Okay so for the front page I made the following changes when it comes to contrast.

### The navbar
Made a slight change from #828282 to #737373. This passes the accessibility contrast check.

Before:
![image](https://user-images.githubusercontent.com/92865452/193428747-1555540e-69be-4d6d-a6e5-06b854172718.png)

After:
![image](https://user-images.githubusercontent.com/92865452/193428926-d8148a94-8

[2022-10-01 22:06] ashuvssut commented on #30
LGTM!

please make the PR

[2022-10-01 22:18] dejmedus opened #38 "refactor: check capitalization"
### Description

Hi there, I noticed a few capitalization mismatches that I could help out with.

For example:
* walkingpal should be WalkingPal
* Fun. and Chill. > Fun and chill
* on the go. anytime, anywhere! > on the go. Anytime, anywhere!
* approved I'd > approved ID
* android > Android

Also a few minor typos:
* error occured > error occurred
* New frienships > New friendships
* news letter >

[2022-10-01 23:31] ashuvssut commented on #38
great! go ahead. also you can create another issue if you find any typos or grammatical errors in markdown docs  (see Readme.md and .docs/ folder)

[2022-10-01 23:39] lovelacecoding commented on #30
Done! You can find what I fixed on PR #40

[2022-10-02 05:28] aadilkhalifa opened #43 "feature: blog list section (Blog page)"
### Description

Hi. I'd like to work on the blog page.

### Screenshots

_No response_

[2022-10-02 05:52] ashuvssut commented on #43
pick your component. just dont pick hero section (see #29 )

[2022-10-02 06:29] eemike07 commented on #33
I do see the issue when I navigate to the deployed website: https://walkingpal.in/

However, when deployed locally on my machine, navigating to `/register` results with the following error:
![image](https://user-images.githubusercontent.com/2515617/193441067-92dc5d4d-b7d3-4119-8863-ce77d75fc640.png)

Am I missing a setup step?
I ran `yarn install` and `yarn dev` as specified in the contributing gu

[2022-10-02 06:35] eemike07 commented on #33
I was able to replicate the issue on my machine after removing -
[code]

[2022-10-02 07:04] ashuvssut commented on #33
yes. we did not add the steps to add your own recaptcha. you can open an issue for docs changes.

Its all about going to google's recaptcha sit and doing some stuff there and creating a .local.env files locally

ref https://prateeksurana.me/blog/integrating-recaptcha-with-next/

[2022-10-02 07:14] eemike07 commented on #33
I was able to resolve the issue.
See PR for details: https://github.com/WalkingPal/walking-pal-web/pull/44

[2022-10-02 08:22] Pratham-Mishra178 opened #45 "bug: SVG Logo"
### Description

There is a bug in the navbar, The SVG logo is not properly placed.

### Screenshots

![Screenshot (627)](https://user-images.githubusercontent.com/78583437/193444988-e53c5bda-c741-46fe-9774-30197ec920fb.png)

[2022-10-02 08:30] ashuvssut commented on #45
same issue exists in footer also. make sure to check all components where the svg logo is used and fix those also. I think you just need to add a width to the svg component

[2022-10-02 08:32] Pratham-Mishra178 commented on #45
Okay I am looking into it

[2022-10-02 08:37] eemike07 opened #46 "bug: fix on navigation render"
### Description

I would like to tackle the following issue for hacktoberfest:

When navigating to a new page (between Home, About, and FAQ), a "flicker" of the Walking Pal Logo appears at the top-left.
It looks like Navigation bar is "not displayed" and then "displayed" for a split second.

![bug](https://user-images.githubusercontent.com/2515617/193445487-5c776267-b921-4282-8f6e-0f9c1934e8b0.gif

[2022-10-02 08:49] ashuvssut commented on #46
ya, please go ahead. also it looks like your local dev branch is stale. Kindly pull new changes from `upstream/dev` and then start working

[2022-10-02 10:12] ashuvssut opened #47 "bug: glitch in UI of register page"
### Description

![image](https://user-images.githubusercontent.com/60546840/193448882-238f1206-d1b6-4622-b866-ea67731bbfd2.png)
In register page, Press `Tab` key on keyboard, this kind of UI glitch will happen. (its related to accessiblilty maybe)

[2022-10-02 10:17] ashuvssut opened #48 "docs: check for typos and grammar issues all the markdown files"
### Description

Check for typos/ captalization and grammar issues all the markdown files. Restrucutre sentences wherever you feel if necessary (see changes of PR #81 for reference). **Keep the sentences CONCISE and SIMPLE**

There are 9 markdown files.
- one README.md file
- rest 8 markdown files are in `.docs/`

**Please do mention which one you are going to work on to avoid the possibility of 2

[2022-10-02 10:19] giftade commented on #48
I'd like to try this

[2022-10-02 10:19] iatharva commented on #48
Hi, Can I work on this @ashuvssut ?

[2022-10-02 10:27] ashuvssut opened #49 "feat: add a `SlideIn` animation component"
### Description

Create a global component named `SlideIn`. This component will take any `ReactNode` in `children` prop. whenever that `ReactNode` enters viewport, it will come sliding-in inside the viewport. also when it exits the viewport, it will go sliding-out of the viewport

use [JS intersection observers](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) to detect

[2022-10-02 10:33] ashuvssut commented on #48
This issue will be always open. Its for anyone who can find flaws in the docs. But, this issue will assigned on first-come, first-serve basis (*ref contributing guidelines*).

[2022-10-02 10:39] ashuvssut opened #50 "feat: custom play button in youtube video"
### Description

Checkout this [PR #27 review](https://github.com/WalkingPal/walking-pal-web/pull/27#pullrequestreview-1127526975). You need to implement a  custom play button in youtube video player. You have to use [play.svg](https://github.com/WalkingPal/walking-pal-web/blob/dev/assets/svg/play.svg) for this

refer this [stackoverflow post](https://stackoverflow.com/q/69132970/12872199) for hin

[2022-10-02 10:42] tanmay-S12 commented on #50
Hey, I would like to work on it. Pls assign it to me

[2022-10-02 10:49] ashuvssut opened #51 "chore: add a checkbox in all 3 Issue templates"
### Description

There are 3 issue templates. add this checkbox shown below in the template's textarea
- [ ] I have read and I am following [the guidelines for creating a new issue](https://github.com/WalkingPal/walking-pal-web/blob/dev/.docs/CONTRIBUTING.md#make-sure-to-follow-these-when-opening-issues)

[2022-10-02 11:01] ashuvssut opened #52 "chore: create a new PR template"
### Description

Create a PR template.

1. Add 1 comment in its topmost part
[code]
3. Add this checkbox shown below in the template's textarea (not commented)
- [ ] I have read and I am following [the guidelines for creating a new Pull Request](https://github.com/WalkingPal/walking-pal-web/blob/dev/.docs/CONTRIBUTING.md#pull-requests-review-criteria)

4. Add 1 comment in its bottom most part
[cod

[2022-10-02 11:05] ashuvssut commented on #33
fixed through PR #14 . Hence, Closing the issue

[2022-10-02 11:06] #33 closed

[2022-10-02 11:07] tanmay-S12 commented on #52
Hey, I would to make it, pls assign me this issue.

[2022-10-02 11:11] ashuvssut opened #53 "docs: add steps to setup recaptcha (optional local dev environment setup)"
### Description

Developers need to setup thier ReCaptcha local environment variable so that they dont run into these errors in `/register` and `/faq` page.

![image](https://user-images.githubusercontent.com/60546840/193450891-216e6b92-7968-4d5a-9c6d-4e8f7ad39a4f.png)

-----------------------------

update documentation( contributing.md) --- dev environment setup part. mark it as "optional setup"

[2022-10-02 14:07] ashuvssut commented on #48
@iatharva you can pickup other .md files

[2022-10-02 15:22] akshaaatt commented on #53
Hi @ashuvssut , I would like to take this up.

[2022-10-02 15:29] deepak-sreekumar commented on #49
@ashuvssut  I'd like to take a stab at this. Would you mind assigning this to me?

[2022-10-02 16:23] Pratham-Mishra178 opened #58 "bug: Fix: X axis scrollbar"
### Description

When we refresh the page we can observe a unwanted scrollbar at the X axis.
![image](https://user-images.githubusercontent.com/60546840/193587550-037219bd-05d1-47ca-a450-5aeb5e96c7ab.png)

[2022-10-02 16:46] #53 closed

[2022-10-02 17:37] #45 closed

[2022-10-02 17:46] EmmaDawsonDev opened #61 "bug: Keyboard navigation in header/nav"
### Description

Each button within the header/nav is two tab stops instead of one. This leads to unnecessary button presses for people that navigate around with keyboard instead of mouse.

I would like to have a go at fixing this.

[2022-10-02 18:12] og118 commented on #47
Please assign this issue to me, I would like to work on this issue

[2022-10-02 18:21] alexjharrison commented on #61
I'd like to fix this if you assign it to me. Thanks!

[2022-10-02 18:30] EmmaDawsonDev commented on #61
Hi @alexjharrison I'm fixing it :)

[2022-10-02 19:10] #51 closed

[2022-10-03 02:24] Pratham-Mishra178 opened #65 "bug: fix: missing navbar"
### Description

After navigating to the registration page, when we return to our home page we will observe that nav bar is missing.

![image](https://user-images.githubusercontent.com/78583437/193490846-192d746d-6f84-4236-a74d-b4374065ee4d.png)

### Terms

- [X] I have read and I am following [the guidelines for creating a new issue](https://github.com/WalkingPal/walking-pal-web/blob/dev/.docs/CO

[2022-10-03 03:26] vancassa commented on #65
Hello, may I try working on this?

[2022-10-03 04:47] adi-uchiha commented on #65
Can I work on this ? I have made interactive and responsive navbars before

[2022-10-03 04:59] adi-uchiha opened #66 "feature: improving the `reimagine your daily commute` section"
<img src="https://user-images.githubusercontent.com/103348863/193504817-fcb27746-c33b-4984-ab09-00e335716a48.jpg" width="200px">

I want to redesign the bottom section (the four cards).
for screen width >900px 3 cards are in a row and the 4th card is in a new row below it. The 4th card is looking out of place. It should be 2 cards in each row

[2022-10-03 05:07] adi-uchiha commented on #52
I have the template read. Can I submit a PR?

[2022-10-03 06:18] #46 closed

[2022-10-03 06:20] ashuvssut commented on #65
@Pratham-Mishra178 this issue is alread fix through my commits in #14 PR. Please update your stale local `dev` branch to see new changes

[2022-10-03 06:20] #65 closed

[2022-10-03 06:24] ashuvssut commented on #52
@tanmay-S12 what's your progress? This is a simple issue. This should not take long. You can do it!

[2022-10-03 06:36] ashuvssut commented on #66
Hi @adi-uchiha

we have a [figma design board](https://www.figma.com/file/seUqjLLCz2X22Ymm6PZBe6/Website-%26-Other-Components?node-id=901%3A2897) that we follow. We are not planning to re desing anything. Currently this section you pointed out is incomplete. You can add the rest of the UI components by referencing the figma designs. Try to replicate the exact UI components if you can. Make sure to

[2022-10-03 06:39] ashuvssut commented on #66
we follow the figma designs only!

-----------------------------

I think that those 4 cards are fairly responsive. where did you see the issue in responsiveness. At what screen size did you see a flaw in responsiveness?

[2022-10-03 07:00] ashuvssut opened #68 "feat(register): add an option to add the university name if they selected "other" as university name"
![image](https://user-images.githubusercontent.com/60546840/193517464-791dcd98-5a0b-4875-ad21-fdd949b3bbf8.png)

Keep the "Other" field in the Select list.
But when after "Other" option is selected, instead of displaying "other" as a text in there, put a textfield there instead to give the user an optional field to write their university name.

- do no create a text field **under the** select comp

[2022-10-03 07:08] #47 closed

[2022-10-03 07:19] VadimDez commented on #68
Could you assign this to me?

[2022-10-03 07:35] VadimDez commented on #68
@ashuvssut Just one question - how would user switch back from "Other" to something else?

[2022-10-03 09:02] tanmay-S12 commented on #52
I am working on it. I will send it after completion for review and then
will submit the pr

On Mon, 3 Oct, 2022, 11:54 am Ashutosh Khanduala, ***@***.***>
wrote:

[2022-10-03 09:34] ashuvssut opened #69 "feat: animate when switching between pages"
### Description

Please do tell what kind of animation you are planning to implement. It should be short and simple

### Have you read the Guidelines to create a new Issue?

- [ ] #100

[2022-10-03 09:51] ashuvssut commented on #68
Alright! so i just tried to modify the UI, so the you can get an idea of how things would look:
![image](https://user-images.githubusercontent.com/60546840/193548533-bd61ef85-dcc1-4cab-8ebe-4bec96dc4810.png)
[code]

Ofcourse you should remove the outline of the of the textbox. its just a mockup of how it should look

[2022-10-03 10:02] ashuvssut commented on #68
TextField without border will look like a normal selected menu item (loose those extra paddings too.. maybe we should use [the `InputBase`](https://mui.com/material-ui/api/input-base/) component instead of `TextField`. It has minimum amount of styles.)
![image](https://user-images.githubusercontent.com/60546840/193550826-d009b686-e648-4d5e-a3c1-85d6715d1fba.png)

[2022-10-03 11:42] Im-Kunal-13 opened #71 "feat: (blog) : ReImagineCommute"
Creation of the bottom part of the 'ReImagineCommute ' component in the 'home' page.
![image](https://user-images.githubusercontent.com/60546840/193568963-48a66ca0-322c-4555-9a11-e4e3592a9f2f.png)

[2022-10-03 12:51] #29 closed

[2022-10-03 13:06] ashuvssut commented on #66
You can work on it.
if can think of a simple fix. make 2 groups cards.  (1 grp has 2 cards)
the parent wrapping those 2 group will be a flexbox with `flexwrap:wrap`

by this you wont be using CSS grids or some wierd media queries.

If you can do that without using Grids (maybe you can follow the way I told you), please go ahead and work creating another pr linking to this same issue

[2022-10-03 15:37] dejmedus commented on #48
Hi, I can take a look at some unassigned docs pages when iatharva is finished

[2022-10-03 15:59] ashuvssut commented on #48
@dejmedus go through the top issue description. only 2 pages are done. no one is working currently. assign yourself any doc page you want

[2022-10-03 16:17] IAmTamal opened #74 "feat: autofocus on input fields 🛠"
### Description

## Changes i'd suggest  :

- `Autofocus` on the input so that  we donot need to again click the input field to type
- I intend to make it available for all devices and all pages with inputs

## Why to bother ?

- Using `Autofocus` is a good accessibility feature
- It provides a much premium user experience
- It would remove the pain of clicking the box again and again.

## Screens

[2022-10-03 16:25] #58 closed

[2022-10-03 16:26] Pratham-Mishra178 commented on #58
refer PR #75

[2022-10-03 16:55] adi-uchiha commented on #74
Can I work on this ? It is a simple fix

[2022-10-03 17:24] tanmay-S12 commented on #52
@ashuvssut I have made the PR for this issue, Pls review it. and after making the PR it is showing something like .... "one check remaining and vercel is deploying your req".

[2022-10-03 18:29] ashuvssut commented on #74
@IAmTamal nice suggestion!

[2022-10-03 20:47] VadimDez commented on #68
@ashuvssut wouldn't it be better to use [Autocomplete component](https://mui.com/material-ui/react-autocomplete/#free-solo) and allow any arbitrary value?

[2022-10-03 21:42] AbhishekTiwari23 commented on #25
Hello @ashuvssut, I edited the file and added the discord icon and link.
<img width="302" alt="Screenshot 2022-10-04 at 3 08 53 AM" src="https://user-images.githubusercontent.com/97469132/193690599-b00169ff-f8d8-4d92-8bc2-2c270863f871.png">

But I am not able put the hover effect as it is a typescript project. If you find it relevant, then please let me know. And please guide for hover effect as I

[2022-10-04 08:18] ashuvssut commented on #25
https://react.useanimations.com/ these icons already have that hover animation inbuilt. You can take your time, and learn how to use external libs/ packages

[2022-10-04 08:19] ashuvssut commented on #25
Also, TS is no different than JS. If you know JS, then this should be a piece of cake. If you need help follow discord. see Readme.md for link

[2022-10-04 09:49] krupalitrivedi opened #78 "Update ReadMe + License Changes"
### Description

Hello!

I love the concept of this project and would to contribute by improving the ReadMe a little bit! ReadMe showcases the whole project in small amount of space and can make a huge different. I could do some paraphrasing as well as structure it a little bit! Also I consider linking the License to the end of the repo!

Thank you! I would like to work on this :)

### Have you re

[2022-10-04 10:34] aadilkhalifa commented on #43
Hi.

I've worked on the list of blog cards on the blog page.
[Link to PR](https://github.com/WalkingPal/walking-pal-web/pull/79)

Open to any feedback.

[2022-10-04 15:13] ashuvssut commented on #78
Hi! we are currently not looking for changes in the documentation. If you could explain what things we are missing in the docs, it would be great!

Also, you can help out in #48 if you want

[2022-10-05 10:09] ashuvssut commented on #68
@VadimDez Nice suggestion. but, you need to style that autocomplete dropdown to look same as the current dropdown. If it possible, then you may proceed with autocomple

[2022-10-05 18:11] dejmedus commented on #48
Sounds good, I will work on contributing.md then

[2022-10-05 22:43] ashuvssut commented on #78
Closing this issue now. If you can explain what things we are missing in the docs, then we can reopen this issue

[2022-10-05 22:43] #78 closed

[2022-10-06 13:54] ashuvssut opened #82 "feat(UI/UX Design): convert simple PNG images to SVGs"
### Description

There are some PNGs in the webisite like these:
![image](https://user-images.githubusercontent.com/60546840/194330349-377a4a00-225e-427b-a8b0-827e4cf2af31.png)

Create PRs to convert each of these simple PNGs to SVGs (PNGs can not be convert to SVGs. You need to use tools like Adobe Illustrator, figma, etc to design these vector graphics. refer PR #32 for reference --- this PR con

[2022-10-06 14:09] Asmi-1 commented on #48
I want to work on [CODE-OF-CONDUCT.md](https://github.com/WalkingPal/walking-pal-web/blob/dev/.docs/CODE-OF-CONDUCT.md)

[2022-10-06 16:27] Shubhrajyoti24 opened #84 "feat: scroll to top button"
I want to add a button at bottom right corner which scrolls back to top of the page.

[2022-10-06 16:28] abel-otegbola commented on #84
Can I work on this

[2022-10-06 17:58] deepak-sreekumar commented on #49
@ashuvssut raised [PR](https://github.com/WalkingPal/walking-pal-web/pull/85). Please review when you get a chance

[2022-10-06 19:23] ashuvssut commented on #84
@Shubhrajyoti24 glad you're here! Join **Discord** in case you need any help for ur PR (see README for link)

[2022-10-06 19:23] ashuvssut commented on #84
Also, Make this button a global component

[2022-10-06 19:31] Shubhrajyoti24 commented on #84
Will do it. Am also grateful to contribute here. @ashuvssut Thanks!

[2022-10-06 19:42] ashuvssut commented on #84
@abel-otegbola we are always looking for such helpful global components. If you have some cool ideas like #49 or like this issue, please open up a new issue!

[2022-10-06 23:03] #49 closed

[2022-10-06 23:15] ashuvssut opened #86 "feat: new `SlideEach` global component"
### Description

This `SlideEach` compo is a simple wrapper that can wrap each of its child element with `SlideIn` component

## Important Technical Details

this new `SlideEach` global component will take one prop: `children` and some other props which are as same as the props of `SlideIn `component.

the `children` prop of this `SlideEach` compo will have a lots of elements (i.e `children` prop

[2022-10-06 23:38] #43 closed

[2022-10-06 23:41] ashuvssut commented on #25
@AbhishekTiwari23 If you are working on this then please put a draft PR so that we can see your progress and help you out.

In case, if you are not working on the PR then we should reassign this issue to other new contributors

[2022-10-06 23:42] #38 closed

[2022-10-06 23:44] ashuvssut commented on #50
Hi @tanmay-S12! If you are not working on this issue, then please update us. Else we can reassign this issue so that new contributors can come up.

If you are working on this issue, please put a Draft PR.

[2022-10-06 23:46] ashuvssut commented on #69
Hi @GyanPrakashRaj ! If you are not working on this issue, then please update us. Else we can reassign this issue so that new contributors can come up.

If you are working on this issue, please put a Draft PR so that we can see your progress.

[2022-10-07 00:26] #74 closed

[2022-10-07 01:22] ashuvssut opened #89 "feat: use Zod for TS schema validation for all api endpoints"
### Description

Checkout all api endpoints in `api/` directory.

All those api directory lack proper TS schema validation. Implement that using [zod](https://www.npmjs.com/package/zod) library.

## Reference and Resources
https://www.totaltypescript.com/tutorials/zod

[2022-10-07 01:51] dejmedus commented on #48
I will look over the project-structure.md

[2022-10-07 03:27] Pratham-Mishra178 commented on #86
I want to work on this issue.

[2022-10-07 04:01] GyanPrakashRaj commented on #69
sorry i tried but failed to animate in the present pages... sorry.. kindly assign any other contributor.

[2022-10-07 04:45] tanmay-S12 commented on #50
Yes, I am trying to figure out how to do it. As I am a beginner, pls provide me with some more time if possible.

[2022-10-07 05:15] ashuvssut commented on #50
@tanmay-S12 you have been working on this for a long time (5days). Consider creating a Draft PR today so that we can look at your changes done up until now. It become possible to help out by looking at your changes

[2022-10-07 05:34] tanmay-S12 commented on #50
I haven't done any changes yet... I am trying to understand the project.

[2022-10-07 05:45] ashuvssut commented on #50
Okay try to make progress in 2 days

[2022-10-07 05:48] tanmay-S12 commented on #50
yess

[2022-10-07 12:48] #86 closed

[2022-10-07 13:07] AbhishekTiwari23 commented on #25
Hello @ashuvssut, I apologise for replying late but college has started and I am getting less time for all this stuff. Please give me 24hr so that I can give a positive response

[2022-10-07 13:34] ashuvssut commented on #66
Tell me if I should fix that minute detail

@adi-uchiha if you are going to start working on this, feel free

[2022-10-07 13:39] ashuvssut commented on #25
@AbhishekTiwari23 If you are working on this then please put a draft PR so that we can see your progress and help you out.

[2022-10-07 13:44] AbhishekTiwari23 commented on #25
Thanks, @ashuvssut, I will make a pr soon

[2022-10-07 13:52] ashuvssut commented on #48
@dejmedus @Pratham-Mishra178 if you are interested do more PRs in this, then there are 3 more markdown files remaining (see description)

[2022-10-07 13:55] vishesh-hue commented on #82
hi, I would like to take up this issue but I m new to this and I can convert png to svg

[2022-10-07 13:55] Pratham-Mishra178 commented on #48
okay sure, looking into it

[2022-10-07 14:04] Pratham-Mishra178 opened #98 "docs: Coloured segments in Contributing Guidelines"
Coloring some segments in [CONTRIBUTING.md](https://github.com/WalkingPal/walking-pal-web/blob/dev/.docs/CONTRIBUTING.md) for better understanding.

[2022-10-07 14:05] ashuvssut commented on #82
@vishesh-hue You can not convert PNGs to SVGs. You have to create new SVGs using some tool (adobe illustrator, figma, etc)

[2022-10-07 14:05] harsh3311 commented on #82
I am working on this

[2022-10-07 14:06] harsh3311 commented on #82
i have done half work

[2022-10-07 14:06] harsh3311 commented on #82
wait some time

[2022-10-07 14:08] harsh3311 commented on #82
should i work on this now or you have assigned this task

[2022-10-07 14:09] ashuvssut commented on #82
⚠**Contirbutors who are interested, please tell beforehand that which PNG you are going to start working on. This will avoid clashes. Provide the screenshot of the PNG image so that we can figure out which PNG you are working on**

[2022-10-07 14:14] harsh3311 commented on #82
I have completed the task
please tell me how would I give that in pull request

[2022-10-07 14:14] ashuvssut commented on #98
@Pratham-Mishra178
Only these 2 section need highlighting. Make sure to to use a simple light color that could just attract attention. Also, the content in the section should be visible and look good in both GitHub's dark and light theme

1. [Make sure to follow these when opening issues](https://github.com/WalkingPal/walking-pal-web/blob/dev/.docs/CONTRIBUTING.md#make-sure-to-follow-these-when-op

[2022-10-07 14:20] harsh3311 commented on #82
![Untitled-1](https://user-images.githubusercontent.com/111215347/194575719-3373d21f-3379-4977-9486-1d9b0f459e5e.svg)

[2022-10-07 14:25] Asmi-1 commented on #48
I want to work on [STYLE-GUIDE.md](https://github.com/WalkingPal/walking-pal-web/blob/dev/.docs/STYLE-GUIDE.md)

[2022-10-07 14:27] ashuvssut commented on #82
@harsh3311 Are you using some tools to do this? I can see the line paths that thay are not straight( lines looks like a roguh pixelated path).

Please refrain from using such inaccurate tools. **You have to do manually.** 1 PNG conversion per PR.

Please work on this if you know how to create SVGs

[2022-10-07 14:30] Asmi-1 commented on #48
I want to work on [README.md](https://github.com/WalkingPal/walking-pal-web/blob/dev/README.md)

[2022-10-07 15:14] ashuvssut commented on #48
@Asmi-1 you can work on 2 PRs at a time.

Take PROJECT-GUIDELINES.md + README.md

[2022-10-07 15:15] Pratham-Mishra178 commented on #98
Ok

[2022-10-08 03:15] ashuvssut commented on #82
@vishesh-hue @harsh3311 kindly look into the issue description. I have updated the link to the original PNGs (in Important Points section)

[2022-10-08 03:27] ashuvssut opened #100 "I have read and I am following the guidelines for creating a new issue"

[2022-10-08 03:28] #69 closed

[2022-10-08 03:29] #100 closed

[2022-10-08 03:32] ashuvssut opened #101 "feat: animate when switching between pages"
Please do tell what kind of animation you are planning to implement. Animation should be short and simple

[2022-10-08 03:39] Manthan-Kuber commented on #89
Willing to take this up !

[2022-10-08 04:04] ashuvssut commented on #68
Hi @VadimDez, any progress update on this?

[2022-10-08 04:12] ashuvssut opened #102 "feat: Correction in Design or ReImagine commute Cards in home page"
### Description

<img src="https://user-images.githubusercontent.com/103348863/193504817-fcb27746-c33b-4984-ab09-00e335716a48.jpg" width="200px">

### Redesign the bottom section (the four cards).
for screen width >900px 3 cards are in a row and the 4th card is in a new row below it. The 4th card is looking out of place. It should be 2 cards in each row

---------------------------------------
Use

[2022-10-08 04:13] ashuvssut commented on #102
@adi-uchiha you can assign this issue to yourself if you are interested.

Use MUI Grids component

[2022-10-08 04:14] Volley-Freak commented on #102
Hey @ashuvssut can you assign this to me? I can fix that.

[2022-10-08 04:14] ashuvssut commented on #66
Moving this issue to #102

[2022-10-08 04:14] #66 closed

[2022-10-08 04:17] ashuvssut commented on #102
@Volley-Freak  Use MUI Grids component only

[2022-10-08 04:19] Volley-Freak commented on #102
okay will keep that in mind

[2022-10-08 06:43] titusjoyson commented on #101
@ashuvssut I like to solve this issue

[2022-10-08 06:49] Manthan-Kuber commented on #89
@ashuvssut Where can I find type for formData you are sending from the client side? I need a expected formData type so that I can create a zod schema accordingly.

[2022-10-08 06:55] ashuvssut commented on #89
@Manthan-Kuber

there are 2 `interfaces` namely `IFormData` and `Fields`. you can search for these two

OR

Do a global search across the codebase with this text: `await axios.post("/api`
you will find 2 places where you can find what `formData` is being sent from the frontend

[2022-10-08 06:56] ashuvssut commented on #101
Please do tell what kind of animation you are going to implement

[2022-10-08 07:03] titusjoyson commented on #101
Will update before I start, looking into few options. I'll go through the website and try to provide a suitable animation for it.

[2022-10-08 07:26] titusjoyson commented on #101
I can see some flickering issue in header when navigating, I'll try to fix that as well

[2022-10-08 07:50] ashuvssut commented on #101
Can you fix that first? It would be nice if you could open up a issue and its separate PR that fixes it.

That fix will be merged first

[2022-10-08 09:39] titusjoyson opened #106 "bug: navbar and page flickering on page navigation"
### Description

On navigating using navbar webpage and navbar is flickering
![chrome-capture-2022-9-8](https://user-images.githubusercontent.com/14018471/194703659-8f9efa54-aeed-4378-9d25-3c604b9e08fa.gif)

[2022-10-08 09:52] Chaitanya-087 commented on #106
i would like to work on this issue

[2022-10-08 09:55] titusjoyson commented on #106
@Chaitanya-087 Its already taken

[2022-10-08 09:58] titusjoyson commented on #106
@ashuvssut Tracking the changes here [https://github.com/WalkingPal/walking-pal-web/pull/108](https://github.com/WalkingPal/walking-pal-web/pull/108)

[2022-10-08 10:13] ashuvssut commented on #106
attach a gif/video that shows the flickering bug that you observed.

[2022-10-08 10:33] #98 closed

[2022-10-08 10:43] Asmi-1 opened #109 "bug: Correction in the size of cards in the company page."
### Description

There is a card which is smaller in size in comparison to the other cards in the company page.

![Screenshot (80)](https://user-images.githubusercontent.com/78552982/194703575-afdbe5b0-7c47-4b8e-baed-51076df0c022.png)

[2022-10-08 10:53] Eddayavuz commented on #109
I'd like to take on this. Please assign.

[2022-10-08 10:56] its-me-Harsh-Anand commented on #109
Hey @Asmi-1 I would like to work on this issue. Please assign me

[2022-10-08 11:15] ashuvssut commented on #109
@Asmi-1 actually all the cards are somewhat not equal in size. They are simple images. Simple CSS properties will fix these. give them `height: 100%`, `aspect-ratio:1`, `object-fit: cover` I think this will be enough

[2022-10-08 11:42] Asmi-1 commented on #109
Yes, I have examined the code and also thought of doing same as you suggested. Thank you for your valuable solution.

[2022-10-08 12:04] Eddayavuz commented on #109
I have fixed the bug by simply changing gallery0's size as that was the only one that has a different size than the others. please check: this [PR](https://github.com/WalkingPal/walking-pal-web/pull/110#issuecomment-1272302938)

[2022-10-08 12:46] titusjoyson commented on #101
@ashuvssut planning to implement linear animation since it will be more simpler. Adding two gifs for refer top to down and left to right animations, Hava a look and let me know your suggestions. And I was using [framer]( https://www.framer.com/docs/transition/)

![top-down-page-animation](https://user-images.githubusercontent.com/14018471/194708220-f18718d5-67f3-4c24-a178-72950ef89cb2.gif)
![left-

[2022-10-08 14:27] ashuvssut commented on #101
Lets go with the first one (top to bottom animation).

[2022-10-08 15:56] Volley-Freak commented on #102
Hey @ashuvssut i've made the PR please have a look.

[2022-10-08 16:06] adi-uchiha commented on #102
Make sure you mention the issue number in your PR description
Example  "#45" not necessary but PR will appear here.

[2022-10-08 16:34] Volley-Freak commented on #102
Thanks for helping me out @adi-uchiha

[2022-10-08 18:30] ashuvssut commented on #102
@Volley-Freak, in order to link you PR to a certain issue, you have to use the issue's. In your case its 102. so in your PR description you should mention closes #102 or fixes #102 to link your PR to this Issue. @adi-uchiha is saying this thing only

Kindly please go through contributing.md once to learn about all these stuff. great efforts have been given by the community to write that contributi

[2022-10-08 18:38] tanmay-S12 commented on #50
@ashuvssut hey, thanks for your coordination, but I am unable to do it for some reason. Thanks for giving me time and a chance...You can reassign this issue to other coordinators. Sorry for the inconvenience.

[2022-10-08 19:03] Volley-Freak commented on #102
Got it now. Please have a look on my [PR](https://github.com/WalkingPal/walking-pal-web/pull/107) now and let me know if I'm wrong somewhere. Actually new to git that's why facing some problems.

[2022-10-08 19:05] #50 closed

[2022-10-08 19:06] ashuvssut opened #113 "feat: custom play button for YouTube player component"
### Description

You need to implement a  custom play button in youtube video player (in Home page). You have to use [play.svg](https://github.com/WalkingPal/walking-pal-web/blob/dev/assets/svg/play.svg) for this

refer this [stackoverflow post](https://stackoverflow.com/q/69132970/12872199) for hints

------
### Technical Details

**Hint:** in Home.tsx, you have to work on the `playIcon` prop of

[2022-10-08 19:45] ashuvssut opened #114 "feat: The Nav Dropdown should appear when hovered instead of clicking"
### Description

In this case, that dropdown menu should appear when hovered on "company" button. Currently that menu only appears only when clicked on "company" button
![image](https://user-images.githubusercontent.com/60546840/194724738-dc25a902-8011-4000-81e3-6ba291070e43.png)

[2022-10-08 19:49] parinzee commented on #114
Hello there! I can work on this. Could you please assign it to me?

[2022-10-08 19:54] pwnb0y commented on #113
assign to me I would like to work on it

[2022-10-08 20:06] #106 closed

[2022-10-08 20:23] #101 closed

[2022-10-08 20:54] #109 closed

[2022-10-08 22:07] #102 closed

[2022-10-08 22:27] #25 closed

[2022-10-08 22:29] ashuvssut opened #116 "feat: add onhover animation on social icons in footer"
use social icons from https://react.useanimations.com/

[2022-10-09 01:07] #30 closed

[2022-10-09 04:08] Pratham-Mishra178 commented on #48
I want to work on [STYLE-GUIDE.md](https://github.com/WalkingPal/walking-pal-web/blob/dev/.docs/STYLE-GUIDE.md)

[2022-10-09 07:59] Pratham-Mishra178 commented on #116
I want to work on this issue.

[2022-10-09 08:18] ashuvssut commented on #48
@Pratham-Mishra178 please read issue description carefully before starting.

[2022-10-09 08:57] Pratham-Mishra178 commented on #48
Ok, sure

[2022-10-09 09:51] #84 closed

[2022-10-09 14:17] #48 closed

[2022-10-09 17:52] #114 closed

[2022-10-09 18:30] satnaing opened #123 "bug: need accessibility improvements"
### Description

The accessibility of this site can be improved. For example, there is
- the lack of lang attribute in html element
- link icons don't have alt text / title
- headings are not correctly ordered (sequentially-descending order)
- Color contrast issues
- Empty links
- etc etc
- make sure to do these accessibility improvements in **global components** too that are present in the page y

[2022-10-09 18:38] ashuvssut commented on #123
We have never thought of this before. We have not used headings in sequential order. We just followed what was heading was given in the [figma design board](https://www.figma.com/file/seUqjLLCz2X22Ymm6PZBe6/Website-%26-Other-Components?node-id=901%3A2897).

I don't think it can be changed without altering the figma designs too.

[2022-10-09 18:51] ashuvssut commented on #123
@satnaing I have assigned you Home Page.

[2022-10-09 19:04] Im-Kunal-13 commented on #68
@ashuvssut It's been 7 days since this issue was opened. I can work on this if you assign to me ?

[2022-10-09 19:10] VadimDez commented on #68
Too much stuff on my table, you can take it over

[2022-10-09 19:30] Im-Kunal-13 commented on #68
@ashuvssut assign it to me then.

[2022-10-09 19:42] #71 closed

[2022-10-10 05:14] Asmi-1 commented on #123
I want work on About page

[2022-10-10 11:39] #68 closed

[2022-10-10 19:43] #116 closed

[2022-10-10 19:47] ashuvssut commented on #89
@Manthan-Kuber any progress update?

[2022-10-10 20:24] ashuvssut opened #129 "feat(footer): Add animation to Discord social icon"
### Description

#### Use these CSS animation Styles
Use this `cubic-bezier(.67,-1.22,.4,2.05) `
initially: `transform: rotateZ(0deg)`
onHover: `transform: rotateZ(360deg)`

[2022-10-11 02:22] Manthan-Kuber commented on #89
I have joined discord of walking pal and had pinged you about the issue there. Lets have a vc today

[2022-10-11 02:54] annalbirena commented on #82
Hi! I would like to work on this.

[2022-10-11 04:19] ashuvssut commented on #48
This issue can be reopened if you want to contribute to this issue

[2022-10-11 10:35] PeroHub commented on #129
Hi @ashuvssut please assign this issue to me, I will work on it. Thanks

[2022-10-11 10:51] PeroHub commented on #35
I have looked through the figma board and I really love what you are building. I noticed that the blog and company designs is yet to be implemented. Can I create two issues on this and proceed working? @ashuvssut

[2022-10-11 11:45] ashuvssut commented on #35
Yes you can work on Career opportunities section in company page. Open up a separate issue
![image](https://user-images.githubusercontent.com/60546840/195081062-be202ffe-6a2f-4219-b594-e7157a931c90.png)

We are not planning to implement any more section in Blog page

[2022-10-11 11:53] PeroHub commented on #35
Alright, I'll do that now

[2022-10-11 11:57] PeroHub opened #131 "feat: Implement career opportunity section on the company page design."
Please assign to me.

[2022-10-11 14:24] Dexters-Hub opened #133 "feat: Implement Upper Footer Sections"
### Description

Hi @ashuvssut 👋🏻

What you are doing is really amazing! 💖

I would like to contribute to the project by adding this footer section.

![Screenshot from 2022-10-11 19-47-14](https://user-images.githubusercontent.com/47777599/195117578-7a426460-58ea-482b-b50b-138917a100b1.png)

If you could assign this to me, It would be really great. Thank you :smile

[2022-10-11 18:19] ashuvssut commented on #133
This part is already implemented. We have hidden it for reasons. Thanks for opening up the issues. You can contribute in #35 if you want!

[2022-10-11 18:19] #133 closed

[2022-10-12 03:46] ashuvssut commented on #123
@satnaing assigned you company page. Make sure cover all global components used in company page too

[2022-10-12 06:12] #89 closed

[2022-10-12 06:55] ashuvssut opened #135 "feat: create an accurate page load progress bar"
### Description

- Make it a global component: `PageLoadProgress`
  ![Peek 2022-10-12 12-14](https://user-images.githubusercontent.com/60546840/195270672-c325c8b6-c795-4c2f-bbfe-e7f1b6dfa84d.gif)

- Use MUI's [Linear progress](https://mui.com/material-ui/react-progress/#linear-determinate) with props `color="primary"`
- Get estimated page load time to display load progress using Navigation Timing

[2022-10-12 07:04] Dexters-Hub commented on #135
Can I work on this? @ashuvssut

[2022-10-12 07:29] ashuvssut opened #136 "feat: use MUI sekelton when assets/ components are loading"
### Description

- Use [MUI skeleton](https://mui.com/material-ui/react-skeleton/) as a placeholder when components are not yet loaded
- Use this component in
   - Youtube player
   - Try to implement this skeleton component in `components/Image` global component. We load all out images using this Image component only.
   - Any gifs... etc etc

[2022-10-12 07:55] ashuvssut opened #137 "feat: email verification in `api/early-users` (server side)"
### Description

Create a common utility funtion in `api/utils` that can check and verify emails. If email is invalid, it will return an error response to the client-side (frontend)

**Please suggest some good ideas to implement this feature.**

--------------------
I am thinking to use [this API](https://rapidapi.com/srgl/api/validect-email-verification/pricing) to achieve this
But there is a dai

[2022-10-12 17:06] PeroHub commented on #35
I will implement  Meet The Team section since it's on the same page @ashuvssut

[2022-10-12 17:58] PeroHub opened #140 "feat: Implement Meet The Section section on the company page design."
I will be implementing team UI section on the company page

[2022-10-13 20:51] #131 closed

[2022-10-13 21:01] ashuvssut commented on #113
Hi @pwnb0y! Any progress update?

[2022-10-13 22:05] ashuvssut opened #141 "feat(UI/UX Design): convert simple PNG images to SVGs"
### Description

There are some PNGs in the webisite like these:
![image](https://user-images.githubusercontent.com/60546840/194330349-377a4a00-225e-427b-a8b0-827e4cf2af31.png)

Create PRs to convert each of these simple PNGs to SVGs (PNGs can not be convert to SVGs. You need to use tools like Adobe Illustrator, figma, etc to design these vector graphics. refer PR #32 for reference --- this PR con

[2022-10-13 22:06] ashuvssut commented on #82
Issue moved to #141

[2022-10-13 22:06] #82 closed

[2022-10-13 22:48] MohamedMetwalli5 commented on #141
I would like to work on this issue.
I would like to choose the pin.png image.

[2022-10-14 03:58] ashuvssut opened #143 "bug: docs assets like images are not loading when viewed on GitHub Website"
### Description

![image](https://user-images.githubusercontent.com/60546840/195759096-4bb521d5-d5bb-4715-8033-780da515cacc.png)

[2022-10-14 04:09] ashuvssut commented on #143
If this is a issue with GitHub itself, then maybe we should host these docs using docusaurus

Try to find a fix, else, we will have to use docusaurus

[2022-10-14 04:11] DarkSoul26 commented on #143
@ashuvssut I would like to work on this issue

[2022-10-14 04:18] ashuvssut opened #144 "feat: Create a monotone variant of our original svg logo"
### Description

we need a monotone variant of our [original svg logo](https://github.com/WalkingPal/walking-pal-web/blob/dev/assets/svg/logo.svg) (just black outlines/fills whatever you find suitable)

We will be using that svg for our app's notification icon. So that svg needs to look okay for a **very small size**. You can do it in your way that you think suits best for a small icon.

![image](

[2022-10-14 04:19] ashuvssut commented on #144
@annalbirena

[2022-10-14 04:28] DarkSoul26 commented on #143
Looking after the issue, I think its not issue in the code but in the GitHub. Its not loading for you maybe. Try opening on other browser once.

[2022-10-14 04:38] ashuvssut commented on #143
done that before. no luck

[2022-10-14 17:18] ashuvssut commented on #143
Changing network fixed it for me. I think it was a problem with my network.

----------------
You can open a new issue if you want to work on Docusaurus

[code]

[2022-10-14 17:18] #143 closed

[2022-10-14 20:16] annalbirena commented on #144
I'll work on this

[2022-10-15 04:29] ashuvssut commented on #129
@PeroHub any progress update?

[2022-10-15 13:33] PeroHub commented on #129
Yes, I'm pushing now @ashuvssut

[2022-10-15 15:56] #129 closed

[2022-10-16 03:33] ashuvssut commented on #135
Hi @Dexters-Hub! Any progress update?

[2022-10-16 03:34] ashuvssut commented on #113
Clearing assignment due to inactivity.

[2022-10-16 15:12] Dexters-Hub commented on #135
I'm still working on it, The reference that you have sent  (using Navigation API) is deprecated and it is having some issues.

[2022-10-16 16:51] Manthan-Kuber commented on #135
https://www.npmjs.com/package/nextjs-progressbar
You guys can use this. It's plug and play, highly customisable too

[2022-10-16 17:21] Dexters-Hub commented on #135
Thank you @Manthan-Kuber

[2022-10-17 06:29] #144 closed

[2022-10-17 14:23] #135 closed

[2022-10-17 20:07] #113 closed

[2022-10-17 20:08] ashuvssut opened #149 "feat: custom play button for YouTube player component"
### Description

Implement a custom play button in youtube video player (in Home page). You have to use [play.svg](https://github.com/WalkingPal/walking-pal-web/blob/dev/assets/svg/play.svg) for this

refer this [stackoverflow post](https://stackoverflow.com/q/69132970/12872199) for hints

------
### Technical Details

**Hint:** in Home.tsx, you have to work on the `playIcon` prop of `ReactPlayer`

[2022-10-17 22:31] iRepo commented on #149
Hey! I would be glad to contribute with this issue :)

[2022-10-19 08:11] iRepo commented on #149
Should the overlay with the custom button appears when video is stopped? Or just on first load?

[2022-10-19 12:39] iRepo commented on #35
Hi @ashuvssut I would get the "Ready to get Started" section if you dont mind

[2022-10-19 13:08] ashuvssut opened #151 "feat: Global Component - "Ready to Get started" section"
![image](https://user-images.githubusercontent.com/60546840/195082358-0b540802-a2f4-43bc-99f6-00111a8baa24.png)

[2022-10-19 13:19] iRepo commented on #151
I think I can't

[2022-10-23 20:00] Olaleye-Blessing opened #152 "chore: Refactor scroll-to-top button"
### Description

It seems like the [scroll-to-top](https://github.com/WalkingPal/walking-pal-web/tree/dev/components/ScrollToTop) button is being used on every page in the UI and it is repeated in every page file. I think it's better to have it in the [App file](https://github.com/WalkingPal/walking-pal-web/blob/dev/pages/_app.pg.tsx) instead of repeating it in every page file.

[2022-10-23 20:36] BobinMathew commented on #152
Hi, can I work on this issue?

[2022-10-24 04:33] ashuvssut commented on #152
@BobinMathew We are conditionally rendering Header and Footer components in app.pg.tsx.

Likewise I want you to do the same for scrollToTop button.

[2022-10-25 16:27] senali-d commented on #123
[@ashuvssut](https://github.com/ashuvssut) I would love to work on FAQs Page

[2022-10-25 18:16] Olaleye-Blessing commented on #152
Yea, I've dropped my comment.

[2022-10-25 19:45] #152 closed

[2022-10-25 22:06] #140 closed

[2022-10-25 22:08] ashuvssut commented on #151
@iRepo any progress update?

[2022-10-25 22:31] Olaleye-Blessing opened #156 "bug: Wrong validation while registering"
### Description

At the moment, users can register with empty first and last names.

### Steps
- Go to [registration page](https://walkingpal.in/register)
- Add 2 or more empty spaces
- Click Next
- See bug

### What I want
- Users shouldn't be able to register with empty spaces

[2022-10-26 03:10] batflarrow commented on #156
Hey can I take this up?

[2022-10-26 09:04] #156 closed

[2022-10-26 16:23] senali-d commented on #35
@ashuvssut,
I would love to work on following component. If it is not assigned yet.
![rtgs](https://user-images.githubusercontent.com/52546856/198080985-ed22bc4d-a68e-437b-8368-fcc7d3541b6a.png)

[2022-10-26 17:49] ashuvssut commented on #35
@sonali-d checkout issue #151

[2022-10-26 22:27] iRepo commented on #35
Hi! I'm on vacation so reassign it if you want

[2022-10-26 22:40] ashuvssut commented on #35
@senali-d you may self-assign the issue to yourself. Else just make a random comment so that I can assign it to you

[2022-10-27 06:49] senali-d commented on #151
@ashuvssut I think I didn't have permission to self assign task. Please assign me to the issue.

[2022-10-27 14:06] ashuvssut opened #160 "feat: Create a GitHub Actions Bot that lets users self assign themselves on Open Issues"
### Description

Create a GitHub Actions Bot that lets users self assign themselves on Open Issues **WHEN no one else is assigned**

[2022-10-27 15:54] ashuvssut opened #161 "Register page and 404 page"

[2022-10-27 15:55] #161 closed

[2022-10-27 19:43] Happy-reindeer007 commented on #160
Hello! I’m interested on this issue. Could you please assign me? 😁

[2022-10-28 00:54] ashuvssut opened #162 "Register and 404 page accessibility improvements"

[2022-10-28 00:56] ashuvssut commented on #162
@senali-d

[2022-10-29 08:09] #151 closed

[2022-10-29 08:11] #35 closed

[2022-10-29 08:12] #162 closed

[2022-10-30 10:14] #123 closed

[2022-10-31 05:43] #160 closed

[2022-10-31 07:02] senali-d commented on #136
Hey @ashuvssut,
I like to work on this. Can you assign it to me.

[2022-11-01 12:38] senali-d commented on #136
When was skeleton component need to load.

[2022-11-01 13:12] ashuvssut commented on #136
@senali-d

We have always used our custom `Image` global component  to render images. There are some props like onLoad & onLoadComplete (ref Nextjs docs on `next/image` for this) that you can use to detect when the image has loaded/failed to load.
Implementing a rectangular Skeleton compo must be simple for these image components. You need to implement the Skeleton compo in `components/Image.tsx`